<html>
<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    <%= link_to "Back", action: "drug_list" %>
  </button>
  <button class="btn btn-link btn-nav pull-right">
    <%= link_to "Education", action: "drug_education", session: params[:session] %>
    <span class="icon icon-right-nav"></span>
  </button>
  <h1 class="title"><%= @drug.drug_name %></h1>
</header>

<div class="content">
    <button class="btn btn-block"><%= @drug.brand %></button>
    <ul class="table-view">
      <% for item in @indication %>
          <li class="table-view-cell media">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
               <%= item.content%>
            </div> </li>
      <% end %>
    </ul>
  </div>
<nav class="bar bar-tab">
  <a class="tab-item active" href="/home">
    <span class="glyphicon glyphicon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="/medicine">
    <span class="glyphicon glyphicon-list"></span>
    <span class="tab-label">Medicine List</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-search"></span>
    <span class="tab-label">Search</span>
  </a>
</nav>
</html>
