<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left" href="medicine">
    <span class="icon icon-left-nav"></span>
    <%= link_to "Back", action: "drug_indication", session: params[:session] %>
  </button>
  <button class="btn btn-link btn-nav pull-right">
    <% if !@next_drug.nil? then %>
      <%= link_to "Next Drug", action: "drug_indication", session: params[:session], id: @next_drug.id %>
    <% else %>
      <%= link_to "Medicine List", drug_list_path %>
    <% end %>
    <span class="icon icon-right-nav"></span>
  </button>

  <h1 class="title"><%= @drug.drug_name %></h1>
</header>

<div class="content">
    <button class="btn btn-block"><%= @drug.brand %></button>
    <h5 align="middle" > Education points </h1>
    <ul class="table-view">
      <% for item in @education %>
      <li class="table-view-cell media">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
           <%= item.content %>
        </div>
      </li>
      <% end %>
    </ul>
    <% if !@other_education.empty? then %>
      <h5 align="middle"> Other education points </h1>
    <% end %>
    <ul class="table-view">
      <% for item in @other_education %>
      <li class="table-view-cell media">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
           <%= item.content %>
        </div>
      </li>
      <% end %>
    <% if @next_drug.nil? then %>
      <button id="stop_time" type="submit" class="btn btn-block">Stop timing the education time</button>
    <% end %>
    </ul>
  </div>
  <%= render partial: "layouts/navigation" %>
<script>
  $("#stop_time").click(function(event){
    alert("Great! Stop session!");
    var session_id = "<%=params[:session]%>";
    $.get("/session/" + session_id + "/stop_time");
  });
</script>
