<html>
<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left" href="medicine">
    <span class="icon icon-left-nav"></span>
    <a href="/medicine/<%=@drug.id%>">Back</a>
  </button>
  <button class="btn btn-link btn-nav pull-right">
    <a href="/medicine/<%=@drug.id%>/education">Education</a>
    <span class="icon icon-right-nav"></span>
  </button>
  <h1 class="title"><%= @drug.drug_name %></h1>
</header>

<div class="content">
    <button class="btn btn-block"><%= @drug.brand %></button>
    <ul class="table-view">
      <% for item in @final_indication %>
          <li class="table-view-cell media">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
               <%= item.content%>
            </div> </li>
      <% end %>
    </ul>
  </div>
  <%= render partial: "layouts/navigation" %>
</html>

