<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left" href="medicine">
    <span class="icon icon-left-nav"></span>
    <%= link_to "Back", action: "drug_indication", medical_session: params[:medical_session] %>
  </button>
  <button class="btn btn-link btn-nav pull-right">
    <% if !@next_drug.nil? then %>
      <%= link_to "Next Drug", action: "drug_education", medical_session: params[:medical_session], id: @next_drug.id %>
    <% else %>
      <%= link_to "Medicine List", drug_list_path %>
    <% end %>
    <span class="icon icon-right-nav"></span>
  </button>

  <h1 class="title">Generic Drug Name: <%= @drug.drug_name %></h1>
</header>

<div class="content">
    <button class="btn btn-block">Brand Drug Name: <%= @drug.brand %></button>
    <h5 align="middle" > Indications </h1>
    <ul class="table-view">
      <% for item in @indication %>
          <li class="table-view-cell media">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
               <%= item.content%>
            </div> </li>
      <% end %>
    </ul>
    <h5 align="middle" > Education points </h1>
    <ul class="table-view">
      <% for item in @education %>
      <li class="table-view-cell media">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
           <%= item.content %>
        </div>
      </li>
      <% end %>
    </ul>
    <% if !@other_education.empty? then %>
      <h5 align="middle"> Other education points </h1>
    <% end %>
    <ul class="table-view">
      <% for item in @other_education %>
      <li class="table-view-cell media">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
           <%= item.content %>
        </div>
      </li>
      <% end %>
    <% if !@session.started? then %>
      <button id="start_time" type="submit" class="btn btn-block">Start timing the education time</button>
      <button id="stop_time" type="submit" class="btn btn-block hidden">Stop timing the education time</button>
    <% elsif @session.started? && !@session.ended? %>
      <button id="stop_time" type="submit" class="btn btn-block">Stop timing the education time</button>
    <% end %>
    </ul>
  </div>
  <%= render partial: "layouts/navigation" %>
<script>
  $("#start_time").click(function(event){
    alert("Great! Time recorded!");
    var session_id = "<%=params[:medical_session]%>";
    $.get("/session/" + session_id + "/start_time");
    $("#start_time").hide();
    $("#stop_time").removeClass('hidden')
  });
  $("#stop_time").click(function(event){
    alert("Great! Stop session!");
    var session_id = "<%=params[:medical_session]%>";
    $.get("/session/" + session_id + "/stop_time");
  });
</script>
