<html>
<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    <%= link_to "Back", action: "drug_list" %>
  </button>
  <button class="btn btn-link btn-nav pull-right">
    <%= link_to "Education", action: "drug_education", medical_session: params[:medical_session] %>
    <span class="icon icon-right-nav"></span>
  </button>
  <h1 class="title"><%= @drug.drug_name %></h1>
</header>

<div class="content">
    <button class="btn btn-block"><%= @drug.brand %></button>
    <ul class="table-view">
      <% for item in @indication %>
          <li class="table-view-cell media">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
               <%= item.content%>
            </div> </li>
      <% end %>
    <% if @session.first_element?(@drug) %>
      <button id="start_time" type="submit" class="btn btn-block">Start timing the education time</button>
    <% end %>
    </ul>
  </div>
  <%= render partial: "layouts/navigation" %>
</html>
<script>
  $("#start_time").click(function(event){
    alert("Great! Time recorded!");
    var session_id = "<%=params[:medical_session]%>";
    $.get("/medicine/" + session_id + "/start_time");
  });
</script>
