<!DOCTYPE html>
<html>
<head>
  <title>Medicallapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <div class="alert alert-success">
      <%= msg %>
  <% end %>

  <%= yield %>

</body>
</html>
